description

In [5]:
# The code was removed by Watson Studio for sharing.

In [6]:
# The code was removed by Watson Studio for sharing.

In [7]:
# The code was removed by Watson Studio for sharing.

,Date,Total Revenue,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Active Subscriber,Total Registered Sub base,Max Capacity
0,2016-03-01 00:00:00,16547.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-01 00:00:00,370,115662.0,500000
1,2016-03-02 00:00:00,17996.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-02 00:00:00,742,115871.0,500000
2,2016-03-03 00:00:00,18837.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-03 00:00:00,995,116159.0,500000
3,2016-03-04 00:00:00,17372.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-04 00:00:00,709,116588.0,500000
4,2016-03-05 00:00:00,17156.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-05 00:00:00,344,116747.0,500000